@use '~bootstrap/scss/bootstrap';

.bg {
  background-color: #ddd;
}
.link-dark {
  color: black;
  text-decoration: underline;
}

.font {
  font-size: 700%;
}
.back-image {
  background-image: url("<%= asset_path('about.jpg') %>");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}